body {
    padding: 20px;
    margin-top: 10px;
    text-align: justify;
    background: url("Images/about.gif");
    background-size: cover;
    overflow-y: hidden;
}

h1 {
    font-family: 'Robot', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    animation: type 2s steps(18), blinkTextCursor 500ms steps(10) infinite normal;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid black;
    width: 772ch;
    transform: translateY(-50%) scale(2);
    width: max-content;
    background: rgba(236, 236, 236, 255);
    border-radius: 3px;
    margin: 30px auto;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 8ch;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: black;
    }
    to {
        border-right-color: transparent;
    }
}

p {
    margin-top: 360px;
    background: beige;
    color: #000;
    padding: 20px;
    font-size: 16px;
}